<div class="container" id="container" style="margin-left: 22%; margin-top: 2%;">
	<div class="form-container sign-in-container">
		<form [formGroup]="loginForm">
			<h1>Sign in</h1>
			<input [(ngModel)]="user.username" formControlName="username" type="username" placeholder="Username" />
			<input [(ngModel)]="user.password" formControlName="password" type="username" placeholder="Password" />
			<button (click)="login()" (keyup.enter)="login()" type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Scan QR Code!</h1>
				<p>{{msg}}</p>
				<img *ngIf="qrImageData" [src]="qrImageData" alt="QR Code" width="150" height="150">
			</div>
		</div>
	</div>
</div>


<div class="container" id="container" style="margin-left: 22%; margin-top: 5%;">
	<div class="form-container sign-in-container">
		<form [formGroup]="validateCodeForm">
			<h1>Validate Code</h1>
			<input [(ngModel)]="user.code" formControlName="code" type="username" placeholder="Code" />
			<button (click)="ValidateCode()" (keyup.enter)="ValidateCode()" type="submit">Validate</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>{{validateCodeRes}}</p>
			</div>
		</div>
	</div>
</div>
